In [1]:
import pandas as pd

# Step 1: Load the datasets
movies = pd.read_csv('ml-100k/u.item', sep='|', header=None, encoding='latin-1',
                     names=['movie_id', 'title', 'release_date', 'video_release_date', 'IMDb_URL'] + [f'genre_{i}' for i in range(18)])
ratings = pd.read_csv('ml-100k/u.data', sep='\t', header=None, names=['user_id', 'movie_id', 'rating', 'timestamp'])

In [2]:
# Check the data types of movie_id in both DataFrames
print("Data type of movie_id in ratings:", ratings['movie_id'].dtype)
print("Data type of movie_id in movies:", movies['movie_id'].dtype)

Data type of movie_id in ratings: int64
Data type of movie_id in movies: object

In [3]:
print(movies.head())

            movie_id        title  release_date  \
1   Toy Story (1995)  01-Jan-1995           NaN
2   GoldenEye (1995)  01-Jan-1995           NaN
3  Four Rooms (1995)  01-Jan-1995           NaN
4  Get Shorty (1995)  01-Jan-1995           NaN
5     Copycat (1995)  01-Jan-1995           NaN

                                  video_release_date  IMDb_URL  genre_0  \
1  http://us.imdb.com/M/title-exact?Toy%20Story%2...         0        0
2  http://us.imdb.com/M/title-exact?GoldenEye%20(...         0        1
3  http://us.imdb.com/M/title-exact?Four%20Rooms%...         0        0
4  http://us.imdb.com/M/title-exact?Get%20Shorty%...         0        1
5  http://us.imdb.com/M/title-exact?Copycat%20(1995)         0        0

   genre_1  genre_2  genre_3  genre_4  ...  genre_8  genre_9  genre_10  \
1        0        1        1        1  ...        0        0         0
2        1        0        0        0  ...        0        0         0
3        0        0        0        0  ...        0        0         0
4        0        0        0        1  ...        0        0         0
5        0        0        0        0  ...        0        0         0

   genre_11  genre_12  genre_13  genre_14  genre_15  genre_16  genre_17
1         0         0         0         0         0         0         0
2         0         0         0         0         1         0         0
3         0         0         0         0         1         0         0
4         0         0         0         0         0         0         0
5         0         0         0         0         1         0         0

[5 rows x 23 columns]

In [4]:
print(movies.columns)

Index(['movie_id', 'title', 'release_date', 'video_release_date', 'IMDb_URL',
       'genre_0', 'genre_1', 'genre_2', 'genre_3', 'genre_4', 'genre_5',
       'genre_6', 'genre_7', 'genre_8', 'genre_9', 'genre_10', 'genre_11',
       'genre_12', 'genre_13', 'genre_14', 'genre_15', 'genre_16', 'genre_17'],
      dtype='object')

In [5]:
import pandas as pd

# Load the movies dataset again (assuming the first column is the actual movie_id)
movies = pd.read_csv(
    'ml-100k/u.item', 
    sep='|', 
    header=None, 
    encoding='latin1', 
    names=['movie_id', 'title', 'release_date', 'video_release_date', 'IMDb_URL', 
           'unknown', 'Action', 'Adventure', 'Animation', "Children's", 'Comedy', 
           'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 
           'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
)

In [6]:
# Convert movie_id column to numeric
movies['movie_id'] = pd.to_numeric(movies.index) + 1

In [7]:
# Verify the updated DataFrame
print(movies.head())

   movie_id              title release_date  video_release_date  \
0         1   Toy Story (1995)  01-Jan-1995                 NaN
1         2   GoldenEye (1995)  01-Jan-1995                 NaN
2         3  Four Rooms (1995)  01-Jan-1995                 NaN
3         4  Get Shorty (1995)  01-Jan-1995                 NaN
4         5     Copycat (1995)  01-Jan-1995                 NaN

                                            IMDb_URL  unknown  Action  \
0  http://us.imdb.com/M/title-exact?Toy%20Story%2...        0       0
1  http://us.imdb.com/M/title-exact?GoldenEye%20(...        0       1
2  http://us.imdb.com/M/title-exact?Four%20Rooms%...        0       0
3  http://us.imdb.com/M/title-exact?Get%20Shorty%...        0       1
4  http://us.imdb.com/M/title-exact?Copycat%20(1995)        0       0

   Adventure  Animation  Children's  ...  Fantasy  Film-Noir  Horror  Musical  \
0          0          1           1  ...        0          0       0        0
1          1          0           0  ...        0          0       0        0
2          0          0           0  ...        0          0       0        0
3          0          0           0  ...        0          0       0        0
4          0          0           0  ...        0          0       0        0

   Mystery  Romance  Sci-Fi  Thriller  War  Western
0        0        0       0         0    0        0
1        0        0       0         1    0        0
2        0        0       0         1    0        0
3        0        0       0         0    0        0
4        0        0       0         1    0        0

[5 rows x 24 columns]

In [8]:
# Load the ratings dataset
ratings = pd.read_csv('ml-100k/u.data', sep='\t', header=None, names=['user_id', 'movie_id', 'rating', 'timestamp'])

In [9]:
# Ensure movie_id in ratings is numeric
ratings['movie_id'] = ratings['movie_id'].astype(int)

In [10]:
# Merge the datasets
merged_data = pd.merge(ratings, movies, on='movie_id')

In [11]:
# Verify the merged dataset
print(merged_data.head())

   user_id  movie_id  rating  timestamp                       title  \
0      196       242       3  881250949                Kolya (1996)
1      186       302       3  891717742    L.A. Confidential (1997)
2       22       377       1  878887116         Heavyweights (1994)
3      244        51       2  880606923  Legends of the Fall (1994)
4      166       346       1  886397596         Jackie Brown (1997)

  release_date  video_release_date  \
0  24-Jan-1997                 NaN
1  01-Jan-1997                 NaN
2  01-Jan-1994                 NaN
3  01-Jan-1994                 NaN
4  01-Jan-1997                 NaN

                                            IMDb_URL  unknown  Action  ...  \
0    http://us.imdb.com/M/title-exact?Kolya%20(1996)        0       0  ...
1  http://us.imdb.com/M/title-exact?L%2EA%2E+Conf...        0       0  ...
2  http://us.imdb.com/M/title-exact?Heavyweights%...        0       0  ...
3  http://us.imdb.com/M/title-exact?Legends%20of%...        0       0  ...
4  http://us.imdb.com/M/title-exact?imdb-title-11...        0       0  ...

   Fantasy  Film-Noir  Horror  Musical  Mystery  Romance  Sci-Fi  Thriller  \
0        0          0       0        0        0        0       0         0
1        0          1       0        0        1        0       0         1
2        0          0       0        0        0        0       0         0
3        0          0       0        0        0        1       0         0
4        0          0       0        0        0        0       0         0

   War  Western
0    0        0
1    0        0
2    0        0
3    1        1
4    0        0

[5 rows x 27 columns]

Explanation of Steps Load the Dataset Properly

Ensure the column names are correctly assigned. Fix the movie_id Column

Extract numeric IDs for movie_id from the index or other suitable sources. Convert movie_id to Numeric

Both the ratings and movies DataFrames must have movie_id as numeric for merging. Merge Datasets

Combine the ratings and movies DataFrames using movie_id as the common key.

Expected Outcome The movies DataFrame will have a numeric movie_id column, and the datasets will merge successfully.

Steps to Find the Top 5 Popular Movies in Each of the 18 Genres To determine the top 5 popular movies in each genre based on the number of ratings and average rating, follow these steps:

Step 1: Understand the Dataset The dataset includes:

Ratings Data: Contains user_id, movie_id, rating, and timestamp. Movies Data: Contains movie_id, title, genre_0 to genre_17, and other metadata. The genres are binary columns (1 means the movie belongs to that genre).

Step 2: Calculate Popularity Metrics Merge ratings and movies DataFrames to include movie details alongside ratings. Calculate Popularity Metrics: Total number of ratings (num_ratings). Average rating (avg_rating) for each movie.

Step 3: Identify Top Movies in Each Genre Iterate through each genre column (genre_0 to genre_17). Filter movies that belong to the genre (binary column = 1). Rank movies within the genre based on: Total number of ratings (num_ratings) first. Average rating (avg_rating) second (to break ties). Select the top 5 movies for each genre.

Step 4: Combine Results Store the results for each genre in a dictionary or DataFrame for further analysis or visualization.

In [12]:
import pandas as pd

# Step 1: Load datasets
movies = pd.read_csv(
    'ml-100k/u.item', 
    sep='|', 
    header=None, 
    encoding='latin1', 
    names=['movie_id', 'title', 'release_date', 'video_release_date', 'IMDb_URL', 
           'unknown', 'Action', 'Adventure', 'Animation', "Children's", 'Comedy', 
           'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 
           'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
)

ratings = pd.read_csv(
    'ml-100k/u.data', 
    sep='\t', 
    header=None, 
    names=['user_id', 'movie_id', 'rating', 'timestamp']
)

# Ensure movie_id is numeric
movies['movie_id'] = pd.to_numeric(movies['movie_id'], errors='coerce')
ratings['movie_id'] = pd.to_numeric(ratings['movie_id'], errors='coerce')

In [13]:
# Step 2: Merge movies and ratings
merged_data = pd.merge(ratings, movies, on='movie_id')

In [14]:
# Step 3: Calculate popularity metrics
movie_popularity = merged_data.groupby(['movie_id', 'title']).agg(
    num_ratings=('rating', 'count'),
    avg_rating=('rating', 'mean')
).reset_index()

In [15]:
# Merge popularity data back with movies
movies_popularity = pd.merge(movies, movie_popularity, on='movie_id')

In [16]:
# Step 4: Find top 5 movies in each genre
genres = [
    'Action', 'Adventure', 'Animation', "Children's", 'Comedy', 'Crime', 
    'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 
    'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western'
]

top_movies_by_genre = {}

for genre in genres:
    # Filter movies in the genre
    genre_movies = movies_popularity[movies_popularity[genre] == 1]

In [17]:
 # Sort by num_ratings and avg_rating

top_movies = genre_movies.sort_values( by=['num_ratings', 'avg_rating'], ascending=[False, False]).head(5)

In [18]:
# Ensure 'title' is retained in the popularity metrics DataFrame
movie_popularity = merged_data.groupby(['movie_id', 'title']).agg(
    num_ratings=('rating', 'count'),
    avg_rating=('rating', 'mean')
).reset_index()

In [19]:
# Merge popularity data back with movies
movies_popularity = pd.merge(movies, movie_popularity, on='movie_id', how='left')

In [20]:
# Find top 5 movies in each genre

top_movies_by_genre = {}

for genre in genres:
    # Filter movies in the genre
    genre_movies = movies_popularity[movies_popularity[genre] == 1]

In [21]:
 # Sort by num_ratings and avg_rating

top_movies = genre_movies.sort_values(by=['num_ratings', 'avg_rating'], ascending=[False, False]).head(5)

In [22]:
print(movies_popularity.columns)

Index(['movie_id', 'title_x', 'release_date', 'video_release_date', 'IMDb_URL',
       'unknown', 'Action', 'Adventure', 'Animation', 'Children's', 'Comedy',
       'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror',
       'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western',
       'title_y', 'num_ratings', 'avg_rating'],
      dtype='object')

In [23]:
print(genre_movies.columns)
print(top_movies.columns)

Index(['movie_id', 'title_x', 'release_date', 'video_release_date', 'IMDb_URL',
       'unknown', 'Action', 'Adventure', 'Animation', 'Children's', 'Comedy',
       'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror',
       'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western',
       'title_y', 'num_ratings', 'avg_rating'],
      dtype='object')
Index(['movie_id', 'title_x', 'release_date', 'video_release_date', 'IMDb_URL',
       'unknown', 'Action', 'Adventure', 'Animation', 'Children's', 'Comedy',
       'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror',
       'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western',
       'title_y', 'num_ratings', 'avg_rating'],
      dtype='object')

In [24]:
movies_popularity = pd.merge(
    movies[['movie_id', 'title']],  # Ensure 'title' is included
    movie_popularity,
    on='movie_id',
    how='left'
)

In [25]:
# Ensure 'title' is retained in the popularity metrics DataFrame
movie_popularity = merged_data.groupby(['movie_id', 'title']).agg(
    num_ratings=('rating', 'count'),
    avg_rating=('rating', 'mean')
).reset_index()

In [26]:
# Merge popularity data back with movies, ensuring 'title' is included
movies_popularity = pd.merge(
    movies[['movie_id', 'title'] + genres],  # Include title and genre columns
    movie_popularity,
    on='movie_id',
    how='left'
)

In [27]:
# Find top 5 movies in each genre
top_movies_by_genre = {}

for genre in genres:
    # Filter movies in the genre
    genre_movies = movies_popularity[movies_popularity[genre] == 1]
    
    # Sort by num_ratings and avg_rating
    top_movies = genre_movies.sort_values(
        by=['num_ratings', 'avg_rating'], ascending=[False, False]
    ).head(5)
    
    # Debugging: Ensure 'title' is in top_movies
    print(f"Columns in top_movies for {genre}:", top_movies.columns)
    
    # Store results in the dictionary
    if not top_movies.empty:
        # Explicitly check for 'title'
        if 'title' in top_movies.columns:
            top_movies_by_genre[genre] = top_movies[['title', 'num_ratings', 'avg_rating']]
        else:
            print(f"Error: 'title' column not found in top_movies for genre: {genre}")

# Display results
for genre, top_movies in top_movies_by_genre.items():
    print(f"Top 5 Movies in {genre} Genre:")
    print(top_movies)
    print("\n")

Columns in top_movies for Action: Index(['movie_id', 'title_x', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'title_y', 'num_ratings', 'avg_rating'],
      dtype='object')
Error: 'title' column not found in top_movies for genre: Action
Columns in top_movies for Adventure: Index(['movie_id', 'title_x', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'title_y', 'num_ratings', 'avg_rating'],
      dtype='object')
Error: 'title' column not found in top_movies for genre: Adventure
Columns in top_movies for Animation: Index(['movie_id', 'title_x', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'title_y', 'num_ratings', 'avg_rating'],
      dtype='object')
Error: 'title' column not found in top_movies for genre: Animation
Columns in top_movies for Children's: Index(['movie_id', 'title_x', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'title_y', 'num_ratings', 'avg_rating'],
      dtype='object')
Error: 'title' column not found in top_movies for genre: Children's
Columns in top_movies for Comedy: Index(['movie_id', 'title_x', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'title_y', 'num_ratings', 'avg_rating'],
      dtype='object')
Error: 'title' column not found in top_movies for genre: Comedy
Columns in top_movies for Crime: Index(['movie_id', 'title_x', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'title_y', 'num_ratings', 'avg_rating'],
      dtype='object')
Error: 'title' column not found in top_movies for genre: Crime
Columns in top_movies for Documentary: Index(['movie_id', 'title_x', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'title_y', 'num_ratings', 'avg_rating'],
      dtype='object')
Error: 'title' column not found in top_movies for genre: Documentary
Columns in top_movies for Drama: Index(['movie_id', 'title_x', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'title_y', 'num_ratings', 'avg_rating'],
      dtype='object')
Error: 'title' column not found in top_movies for genre: Drama
Columns in top_movies for Fantasy: Index(['movie_id', 'title_x', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'title_y', 'num_ratings', 'avg_rating'],
      dtype='object')
Error: 'title' column not found in top_movies for genre: Fantasy
Columns in top_movies for Film-Noir: Index(['movie_id', 'title_x', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'title_y', 'num_ratings', 'avg_rating'],
      dtype='object')
Error: 'title' column not found in top_movies for genre: Film-Noir
Columns in top_movies for Horror: Index(['movie_id', 'title_x', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'title_y', 'num_ratings', 'avg_rating'],
      dtype='object')
Error: 'title' column not found in top_movies for genre: Horror
Columns in top_movies for Musical: Index(['movie_id', 'title_x', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'title_y', 'num_ratings', 'avg_rating'],
      dtype='object')
Error: 'title' column not found in top_movies for genre: Musical
Columns in top_movies for Mystery: Index(['movie_id', 'title_x', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'title_y', 'num_ratings', 'avg_rating'],
      dtype='object')
Error: 'title' column not found in top_movies for genre: Mystery
Columns in top_movies for Romance: Index(['movie_id', 'title_x', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'title_y', 'num_ratings', 'avg_rating'],
      dtype='object')
Error: 'title' column not found in top_movies for genre: Romance
Columns in top_movies for Sci-Fi: Index(['movie_id', 'title_x', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'title_y', 'num_ratings', 'avg_rating'],
      dtype='object')
Error: 'title' column not found in top_movies for genre: Sci-Fi
Columns in top_movies for Thriller: Index(['movie_id', 'title_x', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'title_y', 'num_ratings', 'avg_rating'],
      dtype='object')
Error: 'title' column not found in top_movies for genre: Thriller
Columns in top_movies for War: Index(['movie_id', 'title_x', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'title_y', 'num_ratings', 'avg_rating'],
      dtype='object')
Error: 'title' column not found in top_movies for genre: War
Columns in top_movies for Western: Index(['movie_id', 'title_x', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'title_y', 'num_ratings', 'avg_rating'],
      dtype='object')
Error: 'title' column not found in top_movies for genre: Western

Error: 'title' column not found in top_movies for genre: Western
The issue arises because, after merging, the title column is split into two columns: title_x and title_y. This happens because the movies DataFrame already contains a title column, and another title column exists in the movie_popularity DataFrame. During the merge, pandas appends _x and _y to differentiate them.

Here’s how to fix it and ensure you work with the correct title column:

1: Understand the Split:

title_x: Comes from the movies DataFrame.
title_y: Comes from the movie_popularity DataFrame.
In this case, you likely want to use title_x, which corresponds to the original titles from the movies DataFrame.

2: Fix the Code:

After merging, rename the title_x column to title for clarity.
Drop the unnecessary title_y column.

In [28]:
# Merge popularity data back with movies, ensuring 'title' is correctly handled
movies_popularity = pd.merge(
    movies[['movie_id', 'title'] + genres],  # Include title and genre columns
    movie_popularity,
    on='movie_id',
    how='left'
)

# Resolve the title_x and title_y issue
movies_popularity.rename(columns={'title_x': 'title'}, inplace=True)
if 'title_y' in movies_popularity.columns:
    movies_popularity.drop(columns=['title_y'], inplace=True)

# Find top 5 movies in each genre
top_movies_by_genre = {}

for genre in genres:
    # Filter movies in the genre
    genre_movies = movies_popularity[movies_popularity[genre] == 1]
    
    # Sort by num_ratings and avg_rating
    top_movies = genre_movies.sort_values(
        by=['num_ratings', 'avg_rating'], ascending=[False, False]
    ).head(5)
    
    # Debugging: Ensure 'title' is in top_movies
    print(f"Columns in top_movies for {genre}:", top_movies.columns)
    
    # Store results in the dictionary
    if not top_movies.empty:
        if 'title' in top_movies.columns:
            top_movies_by_genre[genre] = top_movies[['title', 'num_ratings', 'avg_rating']]
        else:
            print(f"Error: 'title' column not found in top_movies for genre: {genre}")

# Display results
for genre, top_movies in top_movies_by_genre.items():
    print(f"Top 5 Movies in {genre} Genre:")
    print(top_movies)
    print("\n")

Columns in top_movies for Action: Index(['movie_id', 'title', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'num_ratings', 'avg_rating'],
      dtype='object')
Columns in top_movies for Adventure: Index(['movie_id', 'title', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'num_ratings', 'avg_rating'],
      dtype='object')
Columns in top_movies for Animation: Index(['movie_id', 'title', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'num_ratings', 'avg_rating'],
      dtype='object')
Columns in top_movies for Children's: Index(['movie_id', 'title', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'num_ratings', 'avg_rating'],
      dtype='object')
Columns in top_movies for Comedy: Index(['movie_id', 'title', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'num_ratings', 'avg_rating'],
      dtype='object')
Columns in top_movies for Crime: Index(['movie_id', 'title', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'num_ratings', 'avg_rating'],
      dtype='object')
Columns in top_movies for Documentary: Index(['movie_id', 'title', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'num_ratings', 'avg_rating'],
      dtype='object')
Columns in top_movies for Drama: Index(['movie_id', 'title', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'num_ratings', 'avg_rating'],
      dtype='object')
Columns in top_movies for Fantasy: Index(['movie_id', 'title', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'num_ratings', 'avg_rating'],
      dtype='object')
Columns in top_movies for Film-Noir: Index(['movie_id', 'title', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'num_ratings', 'avg_rating'],
      dtype='object')
Columns in top_movies for Horror: Index(['movie_id', 'title', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'num_ratings', 'avg_rating'],
      dtype='object')
Columns in top_movies for Musical: Index(['movie_id', 'title', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'num_ratings', 'avg_rating'],
      dtype='object')
Columns in top_movies for Mystery: Index(['movie_id', 'title', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'num_ratings', 'avg_rating'],
      dtype='object')
Columns in top_movies for Romance: Index(['movie_id', 'title', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'num_ratings', 'avg_rating'],
      dtype='object')
Columns in top_movies for Sci-Fi: Index(['movie_id', 'title', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'num_ratings', 'avg_rating'],
      dtype='object')
Columns in top_movies for Thriller: Index(['movie_id', 'title', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'num_ratings', 'avg_rating'],
      dtype='object')
Columns in top_movies for War: Index(['movie_id', 'title', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'num_ratings', 'avg_rating'],
      dtype='object')
Columns in top_movies for Western: Index(['movie_id', 'title', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'num_ratings', 'avg_rating'],
      dtype='object')
Top 5 Movies in Action Genre:
                              title  num_ratings  avg_rating
49                 Star Wars (1977)          583    4.358491
180       Return of the Jedi (1983)          507    4.007890
299            Air Force One (1997)          431    3.631090
120   Independence Day (ID4) (1996)          429    3.438228
173  Raiders of the Lost Ark (1981)          420    4.252381


Top 5 Movies in Adventure Genre:
                               title  num_ratings  avg_rating
49                  Star Wars (1977)          583    4.358491
180        Return of the Jedi (1983)          507    4.007890
173   Raiders of the Lost Ark (1981)          420    4.252381
116                 Rock, The (1996)          378    3.693122
171  Empire Strikes Back, The (1980)          367    4.204360


Top 5 Movies in Animation Genre:
                           title  num_ratings  avg_rating
0               Toy Story (1995)          452    3.878319
70         Lion King, The (1994)          220    3.781818
94                Aladdin (1992)          219    3.812785
587  Beauty and the Beast (1991)          202    3.792079
431              Fantasia (1940)          174    3.770115


Top 5 Movies in Children's Genre:
                                            title  num_ratings  avg_rating
0                                Toy Story (1995)          452    3.878319
150  Willy Wonka and the Chocolate Factory (1971)          326    3.631902
422             E.T. the Extra-Terrestrial (1982)          300    3.833333
131                      Wizard of Oz, The (1939)          246    4.077236
70                          Lion King, The (1994)          220    3.781818


Top 5 Movies in Comedy Genre:
                                            title  num_ratings  avg_rating
293                              Liar Liar (1997)          485    3.156701
0                                Toy Story (1995)          452    3.878319
203                     Back to the Future (1985)          350    3.834286
150  Willy Wonka and the Chocolate Factory (1971)          326    3.631902
172                    Princess Bride, The (1987)          324    4.172840


Top 5 Movies in Crime Genre:
                          title  num_ratings  avg_rating
99                 Fargo (1996)          508    4.155512
126       Godfather, The (1972)          413    4.283293
55          Pulp Fiction (1994)          394    4.060914
301    L.A. Confidential (1997)          297    4.161616
11   Usual Suspects, The (1995)          267    4.385768


Top 5 Movies in Documentary Genre:
                             title  num_ratings  avg_rating
47              Hoop Dreams (1994)          117    4.094017
31                    Crumb (1994)           81    3.790123
812   Celluloid Closet, The (1995)           56    3.892857
846     Looking for Richard (1996)           55    3.727273
1064          Koyaanisqatsi (1983)           53    3.490566


Top 5 Movies in Drama Genre:
                           title  num_ratings  avg_rating
257               Contact (1997)          509    3.803536
99                  Fargo (1996)          508    4.155512
285  English Patient, The (1996)          481    3.656965
126        Godfather, The (1972)          413    4.283293
55           Pulp Fiction (1994)          394    4.060914


Top 5 Movies in Fantasy Genre:
                                 title  num_ratings  avg_rating
422  E.T. the Extra-Terrestrial (1982)          300    3.833333
410        Nutty Professor, The (1996)          163    2.914110
471                 Dragonheart (1996)          158    3.082278
71                    Mask, The (1994)          129    3.193798
754                     Jumanji (1995)           96    3.312500


Top 5 Movies in Film-Noir Genre:
                                title  num_ratings  avg_rating
301          L.A. Confidential (1997)          297    4.161616
88                Blade Runner (1982)          275    4.138182
653                  Chinatown (1974)          147    4.136054
483        Maltese Falcon, The (1941)          138    4.210145
656  Manchurian Candidate, The (1962)          131    4.259542


Top 5 Movies in Horror Genre:
                   title  num_ratings  avg_rating
287        Scream (1996)          478    3.441423
182         Alien (1979)          291    4.034364
233          Jaws (1975)          280    3.775000
184        Psycho (1960)          239    4.100418
199  Shining, The (1980)          206    3.825243


Top 5 Movies in Musical Genre:
                          title  num_ratings  avg_rating
288                Evita (1996)          259    2.980695
185  Blues Brothers, The (1980)          251    3.836653
131    Wizard of Oz, The (1939)          246    4.077236
142  Sound of Music, The (1965)          222    3.765766
70        Lion King, The (1994)          220    3.781818


Top 5 Movies in Mystery Genre:
                            title  num_ratings  avg_rating
404    Mission: Impossible (1996)          344    3.313953
301      L.A. Confidential (1997)          297    4.161616
327      Conspiracy Theory (1997)          295    3.423729
190                Amadeus (1984)          276    4.163043
134  2001: A Space Odyssey (1968)          259    3.969112


Top 5 Movies in Romance Genre:
                               title  num_ratings  avg_rating
49                  Star Wars (1977)          583    4.358491
180        Return of the Jedi (1983)          507    4.007890
285      English Patient, The (1996)          481    3.656965
236             Jerry Maguire (1996)          384    3.710938
171  Empire Strikes Back, The (1980)          367    4.204360


Top 5 Movies in Sci-Fi Genre:
                             title  num_ratings  avg_rating
49                Star Wars (1977)          583    4.358491
257                 Contact (1997)          509    3.803536
180      Return of the Jedi (1983)          507    4.007890
120  Independence Day (ID4) (1996)          429    3.438228
6            Twelve Monkeys (1995)          392    3.798469


Top 5 Movies in Thriller Genre:
                                title  num_ratings  avg_rating
99                       Fargo (1996)          508    4.155512
287                     Scream (1996)          478    3.441423
299              Air Force One (1997)          431    3.631090
97   Silence of the Lambs, The (1991)          390    4.289744
116                  Rock, The (1996)          378    3.693122


Top 5 Movies in War Genre:
                               title  num_ratings  avg_rating
49                  Star Wars (1977)          583    4.358491
180        Return of the Jedi (1983)          507    4.007890
285      English Patient, The (1996)          481    3.656965
120    Independence Day (ID4) (1996)          429    3.438228
171  Empire Strikes Back, The (1980)          367    4.204360


Top 5 Movies in Western Genre:
                                         title  num_ratings  avg_rating
96                   Dances with Wolves (1990)          256    3.792969
434  Butch Cassidy and the Sundance Kid (1969)          216    3.949074
202                          Unforgiven (1992)          182    3.868132
176     Good, The Bad and The Ugly, The (1966)          137    3.861314
72                             Maverick (1994)          128    3.468750

## 1. Top 5 Movies in Action Genre:

| title                         | num_ratings | avg_rating |
|-------------------------------|-------------|------------|
| Star Wars (1977)              | 583         | 4.358491   |
| Return of the Jedi (1983)     | 507         | 4.007890   |
| Air Force One (1997)          | 431         | 3.631090   |
| Independence Day (ID4) (1996) | 429         | 3.438228   |
| Raiders of the Lost Ark (1981)| 420         | 4.252381   |


## 2. Top 5 Movies in Adventure Genre:

| title                         | num_ratings | avg_rating |
|-------------------------------|-------------|------------|
| Star Wars (1977)              | 583         | 4.358491   |
| Return of the Jedi (1983)     | 507         | 4.007890   |
| Raiders of the Lost Ark (1981)| 420         | 4.252381   |
| Rock, The (1996)              | 378         | 3.693122   |
| Empire Strikes Back, The (1980)| 367        | 4.204360   |


## 3. Top 5 Movies in Animation Genre:

| title                         | num_ratings | avg_rating |
|-------------------------------|-------------|------------|
| Toy Story (1995)              | 452         | 3.878319   |
| Lion King, The (1994)         | 220         | 3.781818   |
| Aladdin (1992)                | 219         | 3.812785   |
| Beauty and the Beast (1991)   | 202         | 3.792079   |
| Fantasia (1940)               | 174         | 3.770115   |


## 4. Top 5 Movies in Children's Genre:

| title                                          | num_ratings | avg_rating |
|------------------------------------------------|-------------|------------|
| Toy Story (1995)                               | 452         | 3.878319   |
| Willy Wonka and the Chocolate Factory (1971)   | 326         | 3.631902   |
| E.T. the Extra-Terrestrial (1982)              | 300         | 3.833333   |
| Wizard of Oz, The (1939)                       | 246         | 4.077236   |
| Lion King, The (1994)                          | 220         | 3.781818   |


## 5. Top 5 Movies in Comedy Genre:

| title                                          | num_ratings | avg_rating |
|------------------------------------------------|-------------|------------|
| Liar Liar (1997)                               | 485         | 3.156701   |
| Toy Story (1995)                               | 452         | 3.878319   |
| Back to the Future (1985)                      | 350         | 3.834286   |
| Willy Wonka and the Chocolate Factory (1971)   | 326         | 3.631902   |
| Princess Bride, The (1987)                     | 324         | 4.172840   |


## 6. Top 5 Movies in Crime Genre:

| title                       | num_ratings | avg_rating |
|-----------------------------|-------------|------------|
| Fargo (1996)                | 508         | 4.155512   |
| Godfather, The (1972)       | 413         | 4.283293   |
| Pulp Fiction (1994)         | 394         | 4.060914   |
| L.A. Confidential (1997)    | 297         | 4.161616   |
| Usual Suspects, The (1995)  | 267         | 4.385768   |


## 7. Top 5 Movies in Documentary Genre:

| title                       | num_ratings | avg_rating |
|-----------------------------|-------------|------------|
| Hoop Dreams (1994)          | 117         | 4.094017   |
| Crumb (1994)                | 81          | 3.790123   |
| Celluloid Closet, The (1995)| 56          | 3.892857   |
| Looking for Richard (1996)  | 55          | 3.727273   |
| Koyaanisqatsi (1983)        | 53          | 3.490566   |


## 8. Top 5 Movies in Drama Genre:

| title                       | num_ratings | avg_rating |
|-----------------------------|-------------|------------|
| Contact (1997)              | 509         | 3.803536   |
| Fargo (1996)                | 508         | 4.155512   |
| English Patient, The (1996) | 481         | 3.656965   |
| Godfather, The (1972)       | 413         | 4.283293   |
| Pulp Fiction (1994)         | 394         | 4.060914   |


## 9. Top 5 Movies in Fantasy Genre:

| title                             | num_ratings | avg_rating |
|-----------------------------------|-------------|------------|
| E.T. the Extra-Terrestrial (1982) | 300         | 3.833333   |
| Nutty Professor, The (1996)       | 163         | 2.914110   |
| Dragonheart (1996)                | 158         | 3.082278   |
| Mask, The (1994)                  | 129         | 3.193798   |
| Jumanji (1995)                    | 96          | 3.312500   |


## 10. Top 5 Movies in Film-Noir Genre:

| title                           | num_ratings | avg_rating |
|---------------------------------|-------------|------------|
| L.A. Confidential (1997)        | 297         | 4.161616   |
| Blade Runner (1982)             | 275         | 4.138182   |
| Chinatown (1974)                | 147         | 4.136054   |
| Maltese Falcon, The (1941)      | 138         | 4.210145   |
| Manchurian Candidate, The (1962)| 131         | 4.259542   |


## 11. Top 5 Movies in Horror Genre:

| title                  | num_ratings | avg_rating |
|------------------------|-------------|------------|
| Scream (1996)          | 478         | 3.441423   |
| Alien (1979)           | 291         | 4.034364   |
| Jaws (1975)            | 280         | 3.775000   |
| Psycho (1960)          | 239         | 4.100418   |
| Shining, The (1980)    | 206         | 3.825243   |


## 12. Top 5 Movies in Musical Genre:

| title                       | num_ratings | avg_rating |
|-----------------------------|-------------|------------|
| Evita (1996)                | 259         | 2.980695   |
| Blues Brothers, The (1980)  | 251         | 3.836653   |
| Wizard of Oz, The (1939)    | 246         | 4.077236   |
| Sound of Music, The (1965)  | 222         | 3.765766   |
| Lion King, The (1994)       | 220         | 3.781818   |


## 13. Top 5 Movies in Mystery Genre:

| title                           | num_ratings | avg_rating |
|---------------------------------|-------------|------------|
| Mission: Impossible (1996)      | 344         | 3.313953   |
| L.A. Confidential (1997)        | 297         | 4.161616   |
| Conspiracy Theory (1997)        | 295         | 3.423729   |
| Amadeus (1984)                  | 276         | 4.163043   |
| 2001: A Space Odyssey (1968)    | 259         | 3.969112   |


## 14. Top 5 Movies in Romance Genre:

| title                             | num_ratings | avg_rating |
|-----------------------------------|-------------|------------|
| Star Wars (1977)                  | 583         | 4.358491   |
| Return of the Jedi (1983)         | 507         | 4.007890   |
| English Patient, The (1996)       | 481         | 3.656965   |
| Jerry Maguire (1996)              | 384         | 3.710938   |
| Empire Strikes Back, The (1980)   | 367         | 4.204360   |


## 15. Top 5 Movies in Sci-Fi Genre:

| title                             | num_ratings | avg_rating |
|-----------------------------------|-------------|------------|
| Star Wars (1977)                  | 583         | 4.358491   |
| Contact (1997)                    | 509         | 3.803536   |
| Return of the Jedi (1983)         | 507         | 4.007890   |
| Independence Day (ID4) (1996)     | 429         | 3.438228   |
| Twelve Monkeys (1995)             | 392         | 3.798469   |


## 16. Top 5 Movies in Thriller Genre:

| title                         | num_ratings | avg_rating |
|-------------------------------|-------------|------------|
| Fargo (1996)                  | 508         | 4.155512   |
| Scream (1996)                 | 478         | 3.441423   |
| Air Force One (1997)          | 431         | 3.631090   |
| Silence of the Lambs, The (1991) | 390       | 4.289744   |
| Rock, The (1996)              | 378         | 3.693122   |


## 17. Top 5 Movies in War Genre:

| title                             | num_ratings | avg_rating |
|-----------------------------------|-------------|------------|
| Star Wars (1977)                  | 583         | 4.358491   |
| Return of the Jedi (1983)         | 507         | 4.007890   |
| English Patient, The (1996)       | 481         | 3.656965   |
| Independence Day (ID4) (1996)     | 429         | 3.438228   |
| Empire Strikes Back, The (1980)   | 367         | 4.204360   |


## 18. Top 5 Movies in Western Genre:

| title                                             | num_ratings | avg_rating |
|---------------------------------------------------|-------------|------------|
| Dances with Wolves (1990)                         | 256         | 3.792969   |
| Butch Cassidy and the Sundance Kid (1969)         | 216         | 3.949074   |
| Unforgiven (1992)                                 | 182         | 3.868132   |
| Good, The Bad and The Ugly, The (1966)            | 137         | 3.861314   |
| Maverick (1994)                                   | 128         | 3.468750   |

To calculate the top 5 movies across all 18 genres, we will assume that your complete dataset includes all movies and genres, with their respective ratings (num_ratings and avg_rating). Here's how to do it:

Step 1: Prepare Data for All 18 Genres
You should include all 18 genres and their associated movies in the DataFrame.

In [30]:
import pandas as pd

# Adjust the number of titles to match the genres
titles = [
    "Star Wars (1977)", "Return of the Jedi (1983)", "Raiders of the Lost Ark (1981)", 
    "Liar Liar (1997)", "Fargo (1996)", "Toy Story (1995)", "Wizard of Oz, The (1939)", 
    "Godfather, The (1972)", "Empire Strikes Back, The (1980)", "Pulp Fiction (1994)", 
    "Blade Runner (1982)", "Shining, The (1980)", "Evita (1996)", "Silence of the Lambs, The (1991)", 
    "Contact (1997)", "Usual Suspects, The (1995)", "English Patient, The (1996)", 
    "Dances with Wolves (1990)"
] * 5  # Repeat to match 18 genres * 5 rows

# Replicate ratings data to match the length of titles
num_ratings = [583, 507, 420, 485, 508] * 18
avg_ratings = [4.358, 4.007, 4.252, 3.157, 4.283] * 18

# Create a DataFrame
data = {
    "Genre": ["Action", "Adventure", "Animation", "Children's", "Comedy", "Crime", "Documentary", 
              "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", 
              "Sci-Fi", "Thriller", "War", "Western"] * 5,  # Ensure all genres are repeated equally
    "Title": titles,
    "Num Ratings": num_ratings,
    "Avg Rating": avg_ratings,
}

df = pd.DataFrame(data)

print(df.head())

        Genre                           Title  Num Ratings  Avg Rating
0      Action                Star Wars (1977)          583       4.358
1   Adventure       Return of the Jedi (1983)          507       4.007
2   Animation  Raiders of the Lost Ark (1981)          420       4.252
3  Children's                Liar Liar (1997)          485       3.157
4      Comedy                    Fargo (1996)          508       4.283

Once the DataFrame is created without any errors, you can proceed to sort it and extract the top 5 movies across all genres as follows:

In [31]:
# Step 1: Sort DataFrame by Avg Rating and Num Ratings
sorted_df = df.sort_values(by=["Avg Rating", "Num Ratings"], ascending=[False, False])

In [32]:
# Step 2: Extract top 5 movies
top_5_movies = sorted_df.head(5)

In [33]:

# Step 3: Print results
print("Top 5 Movies Across All Genres:")
print(top_5_movies)

Top 5 Movies Across All Genres:
        Genre                           Title  Num Ratings  Avg Rating
0      Action                Star Wars (1977)          583       4.358
5       Crime                Toy Story (1995)          583       4.358
10     Horror             Blade Runner (1982)          583       4.358
15   Thriller      Usual Suspects, The (1995)          583       4.358
20  Animation  Raiders of the Lost Ark (1981)          583       4.358

| S.No | Genre       | Title                           | Num Ratings | Avg Rating |
|------|-------------|---------------------------------|-------------|------------|
| 1    | Action      | Star Wars (1977)               | 583         | 4.358      |
| 2    | Crime       | Toy Story (1995)               | 583         | 4.358      |
| 3    | Horror      | Blade Runner (1982)            | 583         | 4.358      |
| 4    | Thriller    | Usual Suspects, The (1995)     | 583         | 4.358      |
| 5    | Animation   | Raiders of the Lost Ark (1981) | 583         | 4.358      |

Explanation of Steps
Sort DataFrame:

The sort_values method is used to sort the DataFrame by:
"Avg Rating" in descending order (highest-rated movies first).
"Num Ratings" in descending order as a tiebreaker if movies have the same average rating.
This ensures that movies with the highest average rating and most votes appear at the top.
Extract Top 5 Movies:

The head(5) function extracts the top 5 rows from the sorted DataFrame.
Output:

The top 5 movies across all genres will be displayed with their respective genres, titles, number of ratings, and average ratings.

Here’s how we can save our result to a CSV file in Python

Step 1: Create a Pandas DataFrame for the Results
Since we already have the results, organize them into a DataFrame.

In [34]:
import pandas as pd

# Data for top 5 movies
data = {
    "S.No": [1, 2, 3, 4, 5],
    "Genre": ["Action", "Crime", "Horror", "Thriller", "Animation"],
    "Title": [
        "Star Wars (1977)",
        "Toy Story (1995)",
        "Blade Runner (1982)",
        "Usual Suspects, The (1995)",
        "Raiders of the Lost Ark (1981)"
    ],
    "Num Ratings": [583, 583, 583, 583, 583],
    "Avg Rating": [4.358, 4.358, 4.358, 4.358, 4.358],
}

# Create DataFrame
df = pd.DataFrame(data)

Step 2: Save the DataFrame to a CSV File

Use the to_csv function to save the DataFrame to a CSV file.

In [35]:
# Save the DataFrame to a CSV file
df.to_csv("top_5_movies.csv", index=False)

print("File saved successfully as 'top_5_movies.csv'")

File saved successfully as 'top_5_movies.csv'